{% extends 'polls/_base_page.html' %}
{% load static %} 
{% block title %}Poll List{% endblock %}



{% block content %}
<div class="container">
    <!-- Header Section -->
    <div class="row mb-4">
        <div class="col">
            <h1 class="text-center">Austin Mo's Polls App</h1>

        </div>
    </div>

    <!-- Add Question Button -->
    <div class="row mb-4">
        <div class="col text-center">
            <a href="{% url 'polls:add_question' %}" class="btn btn-nature">Add New Question</a>
        </div>
    </div>

    <!-- Polls List Section -->
    <div class="row">
        <div class="col">
            <div class="list-group mb-4">
                {% for question in latest_question_list %}
                    <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">
                        <h5 class="mb-1">{{ question.question_text }}</h5>
                        <small class="text-muted">Published on {{ question.pub_date }}</small>
                    </a>
                {% empty %}
                    <div class="alert alert-info" role="alert">
                        No polls are available. Why not <a href="{% url 'polls:add_question' %}" class="alert-link">add a new question?</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
 
    <!-- Image Section -->
    <div class="row">
        <div class="col text-center">
            <img src="{% static 'polls/images/jaz.png' %}" class="img-cropped mt-4" alt="Cat">
        </div>
    </div>


</div>

<style>
    .btn-nature {
        background-color: #4CAF50;
        color: white; 
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-nature:hover {
        background-color: #45a049;
    }
    .img-cropped {
    width: 75%; 
    height: 50%;
    object-fit: cover; 
    overflow: hidden; 
    border-radius: 10px; 
    }
</style>

{% endblock %}


